<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Chart Page</title>
    <!-- Посилання на Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<h1>plot page</h1>
<div style="height: 100;width: 200;">
    <canvas id="temperatureChart" width="200" height="100"></canvas>
</div>
<div style="height: 100;width: 200;">
  <canvas id="humidityChart" width="200" height="100"></canvas>
</div>
<div style="height: 100;width: 200;">
  <canvas id="pressureChart" width="200" height="100"></canvas>
</div>
</body>
<script type="application/javascript">
    var temperatureChartContext = document.getElementById('temperatureChart').getContext('2d');
    var humidityChartContext = document.getElementById('humidityChart').getContext('2d');
    var pressureChartContext = document.getElementById('pressureChart').getContext('2d');
    var temperatureChart = new Chart(temperatureChartContext, {
      type: 'line',
      data: {
        labels: [], // масив міток
        datasets: [{
          label: 'Температура (°C)',
          data: [], // масив даних
          backgroundColor: 'rgba(255, 20, 30, 0.2)',
          borderColor: 'rgba(12, 2, 2, 1)',
          borderWidth: 2
        }]
      }
    });
    var humidityChart = new Chart(humidityChartContext, {
      type: 'line',
      data: {
        labels: [], // масив міток
        datasets: [{
          label: 'Вологість (%)',
          data: [], // масив даних
          backgroundColor: 'rgba(20, 20, 200, 0.2)',
          borderColor: 'rgba(12, 2, 2, 1)',
          borderWidth: 2
        }]
      }
    });
    var pressureChart = new Chart(pressureChartContext, {
      type: 'line',
      data: {
        labels: [], // масив міток
        datasets: [{
          label: 'Тиск (мм рт. ст.)',
          data: [], // масив даних
          backgroundColor: 'rgba(220, 200, 233, 0.2)',
          borderColor: 'rgba(12, 2, 2, 1)',
          borderWidth: 2
        }]
      }
    });
  
    // Оновлюємо графік
    function updateCharts(data) {
      if(myChart.data.labels.length>10){
        myChart.data.labels.shift();
        myChart.data.labels.shift();
        myChart.data.datasets.forEach((dataset) => {
            dataset.data.shift(data.value);
          });
      }
      myChart.data.labels.push(data.label);
      myChart.data.datasets.forEach((dataset) => {
        dataset.data.push(data.value);
      });
      
      myChart.update();
    }
  
    // Додавання нових даних кожні 0.5 секунди
    setInterval(() => {
      // Отримання нових даних з сервера
      fetch('/dataget')
        .then(response => response.json())
        .then(data => {
          // Оновлюємо графік з новими даними
          updateChart(data);
        });
    }, 500);
  </script>
  
  
</html>


